.helix/
target/
*.log
test/
/thoughts/
.claude/
hack/
.DS_Store
/tmp
/data
.cargo/credentials
.env
.env.*
!.env.example
**/dist
!packages/studio/dist/index.html
**/dist-dev
**/node_modules
.superpowers/